body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;

}

button {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    left: 224px;
    top: 82px;
    margin: 13px;
    height: 30px;
    border-radius: 25px;
    padding: 0 16px;
    color: #fff;
    border: 0px;
}

.btn {
  background-color: #db8b25;
}

.btn:hover {
  background-color: #FF4500;
}

.two-btn {
  background-color: #1d97da;
  margin: 0 25px;
}

.two-btn:hover {
    background-color: #7B68EE;
}

h1 {
    font-size: 34px;
    position: relative;
    left: 235px;
    top: 130px;
    color: #fff;
    width: 380px;
    margin: 0;
}

p {
    position: relative;
    left: 235px;
    top: 140px;
    color: #fff;
    width: 330px;
    line-height: 2em;
}

.big {
    display: inline-block;
    position: relative;
    left: 235px;
    top: 166px;
    margin: 0;
    width: 167px;
    background-color: #1d97da;
    border-bottom: 1px solid 	#7B68EE;
}

.big img {
  margin: 2px 0 0 15px;
}

.big:hover {
 background-color: 	#7B68EE;
}

button,
button:active, 
button:focus {
   cursor: pointer;
    outline: none;
}

.main-blocks-wrapper {
    position: relative;
    left: 235px;
    top: 220px;
    display: flex;
}

.block {
  display: inline-flex;
  margin: 0 20px 0 0;
  height: 40px;
  width: 160px;
  background-color: #fff;
  border-radius: 3px;
  align-items: center;
  padding: 25px;
}

.circle {
  height: 40px;
  width: 40px;  
  border-radius: 50%;
  background-color: #26cf31;
}

.block-text {
  margin: 0 0 0 15px;
  flex-direction: column;
}

.big-text {
  margin: 0 0 5px;
  font-size: 20px;
  color: #32394d;
}

.discription {
  font-size: 11px;
  color: #6d7487;
}

.card {
  position: relative;
  left: 996px;
  bottom: 225px;
  height: 480px;
  width: 280px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: row; 
}

.filter,
.remove {
   border-bottom: 1px solid #ecf1f5;
    height: 20px;
}

.filter,
.remove,
.brands-header,
.price {
      margin: 0;
      padding: 10px;
      font-size: 12px
}

.remove {
  width: 130px;
}

.filter {
  width: 170px;
        border-right: 1px solid #ecf1f5 ;
}

.remove a {
  color: #32394d;
  align-self: auto;
  text-decoration: none;
  width: 144px;
  color: #b4bfc7;
  margin: 0 0 5px;
}

.remove img {
  width: 20px;
  height: 16px;
}

.brands {
     border: 1px solid #ecf1f5;
}

table {
   border-spacing: 5px;
}

td {
height: 30px;
}

td:hover {
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #e8ebee;
}

.gtr {
  display: inline-block;
  cursor: pointer;
  float:left;
}

.gtr + .gtr {
  border-top: 1px solid #f0f2f3;
}

.rtg {
  display: none;
}

.mrt {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 15px;
  height: 15px;
  }

.mrt:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: 1px solid #176d9c;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rtg:checked ~ .mrt {
  border-color: #39ca74;
}

.rtg:checked ~ .mrt:before {
  display: block;

}

.lst {
  font-size: 12px;
  color: #7a7c81;
}

.lst:hover {
 color: #1c92d3;
}

.input-block {
  display: inline-block;
}

.form-label{
  color: #7a7c81;
  font-size: 10px;
  padding: 10px;
  display: block;
  width: 50px;
}

input {
  margin: 0 10px;
  height: 34px;
  width: 100px;
  border: 1px solid #ecf1f5;
  border-radius: 3px;
}

.slider {
  width:80%;
  height:5px;
  background:#eef2f5;
  position:relative;
  margin-top: 30px; 
  margin-bottom:50px;
  margin-left:20px;
}

.slider .bar {
  position:absolute;
  left:50px;
  width:300px;
  background:#1d96da;
  height:100%;
}

.slider .bar .lp span {
    position:relative;
    left:-30px;
}

.slider .bar .rp span {
    position:relative;
    left:10px;
}

.slider .bar .lp,.slider .bar .rp {
  cursor:pointer;
  background:#fff;
  width:16px;
  height:16px;
  border:3px solid #1d96da;
  border-radius:100%;
  position:absolute;
  line-height:400%;
  color:white;
  user-select:none;
}

.slider .bar .lp {
  left:0px;
  top:-8px;
}

.slider .bar .rp {
  left:100%;
  top:-8px;
}

.btnflip {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
}

.btnflip-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    background-color: rgba(255,255,255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
}

.btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);
}

.btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
}

.btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);
}

.btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);
}

.btnflip-item.btnflip__center {
    background: linear-gradient(to left, #27cf31, #1aa722);
}

.btnflip-item.btnflip__center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #27cf31, #1aa722);
    border-radius: 30px;
    transform: translateZ(-1px);
}

.btnflip:hover .btnflip-item.btnflip__center {
    transform: rotateX(-180deg);
}

.sliderA {
    width: 400px;
    height: 100vh;
    position: relative;
    text-align: center;
    bottom: 750px;
    left: 560px;
}

.sliderA > input {
    display: none;
}

.sliderA > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 90%;

    transition: background 0.8s ease-out 0s;
}

.sliderA > input + label:hover {
    background: #ffffff;
}

.sliderA > input:checked + label {
    background: #1d96da;
    border-color: #1d96da;
}

.sliderA > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliderA > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}
